@mixin font_family {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
}

@mixin color {
	color: #a9aeb8;
}

.chart {
	margin-left: 2rem;
	margin-right: 2rem;
	background: #0d0f14;
	border-radius: 5px;
	padding: 29px 44px 22px 47px;
	margin-bottom: 41px;
	height: auto;
}
.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	@include font_family;
	@include color;
	font-size: 18px;
	line-height: 22px;
	margin-right: 50px;
}
.date {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include font_family;
	font-size: 12px;
	line-height: 15px;
	@include color;
	div {
		margin-right: 25px;
	}
}
.ranges {
	user-select: none;
	cursor: pointer;
	text-align: center;
	line-height: 22px;
	width: 30px;
}
.active {
	border-bottom: 1px solid #f26c4f;
	user-select: none;
	cursor: pointer;
	line-height: 22px;
	text-align: center;
	width: 30px;
}
.content {
	display: flex;
	margin-top: 30px;
	height: auto;
	box-sizing: border-box;
}
.line {
	@include font_family;
	font-size: 12px;
	line-height: 15px;
	@include color;
	height: 100%;
	width: 100%;
}

@media (max-width: 576px) {
	.chart {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		background: #0d0f14;
		border-radius: 5px;
		padding: 2px;
		margin-bottom: 41px;
		height: auto;
	}
	.head {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		padding: 15px;
	}
	.title {
		margin-right: 0;
		text-align: center;
	}
	.date {
		margin-top: 10px;
		display: flex;
		justify-content: space-around;
		div {
			margin-right: 10px;
		}
	}
}
